<div class="col-lg-4" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">

	<div class="mb-4">
		<app-toast></app-toast>
	</div>

	<div class="card shadow">
		<div class="card-body">
			<h4 class="card-title mb-5">Fill The Form!</h4>

			<form [formGroup]="payForm" (ngSubmit)="initialize(payForm.value)">
				<div class="form-group">
					<label for="" class="sr-only">Matric</label>
					<input type="text" name="matric" formControlName="matric" class="form-control rounded-0" placeholder="Matric Number">
				</div>

				<div class="form-group">
					<label for="" class="sr-only">Email</label>
					<input type="text" name="" formControlName="email" class="form-control rounded-0" placeholder="Email">
				</div>

				<div class="form-group">
					<label for=" " class="sr-only">Session</label>
					<input type="text" name="" formControlName="session" class="form-control rounded-0" placeholder="Session">
				</div>

				<div class="form-group">
					<label for="" class="sr-only">Amount</label>
					<input type="text" name="" formControlName="amount" class="form-control rounded-0" placeholder="Amount">
				</div>

				<div class="form-group">
					<label for="" class="sr-only">Department</label>
					<input type="text" name="" formControlName="department" class="form-control rounded-0" placeholder="Department">
				</div>

				<button class="btn btn-danger mt-4">Continue</button>
			</form>
		</div>
	</div>
</div>