<div class="wrapper">
	<div class="col-md-4 center">

		<div class="my-4">
			<app-toast></app-toast>
		</div>
		
		<h4 class="h3 bold mb-5 text-center text-white text-uppercase">Mapsu</h4>

		<div class="card shadow">
			<div class="card-body">
				<img src="../../assets/img/user.jpg" class="img-login-top mb-5 d-none">

				<h5 class="h4 mt-4 mb-5 text-center">Login To Your Dashboard</h5>

				<form [formGroup]="adminLogin" (ngSubmit)="login(adminLogin.value)">
					<div class="form-group">
						<label class="form-label bold">Email</label>
						<input type="email" name="username" placeholder="Username" formControlName="username" class="form-control form-control-lg rounded-0" required>
					</div>


					<div class="form-group">
						<label class="form-label bold">Password</label>
						<input type="password" name="password" placeholder="Password" formControlName="password" class="form-control form-control-lg rounded-0" required>
					</div>

					<div class="text-center">
						<button type="submit" class="btn btn-color btn-lg my-4 px-5 shadow-sm">Login <i class="fa fa-clock-in"></i></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>