<div class="wrapper">

	<app-navbar></app-navbar>
	
	<main class="container">

		<div class="mt-4">
			<app-toast></app-toast>
		</div>

		<h4 class="h4 mt-5" style="font-weight: lighter; font-family: monospace;">All Students</h4>
		<span class="line mb-5"></span>

		<form [formGroup]="filterForm" class="mb-5 form-inline d-none" (ngSubmit)="load(filterForm.value)">

			<div class="form-group mr-3">
				<input type="text" name="dept" formControlName="dept" class="form-control rounded-0" placeholder="Department">
			</div>

			<div class="form-group mr-3">
				<select class="form-control rounded-0" name="level" formControlName="level">
					<option>ND 1</option>
					<option>ND 2</option>
					<option selected="true">HND 1</option>
					<option>HND 2</option>
				</select>
			</div>
			
			 <button type="submit" class="btn bg-color">Load</button>
		</form>

		<div class="table-responsive mb-5" *ngIf="!error">
			<table class="table table-striped table-bordered" id="example">
				<thead class="shadow-sm">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Matric</th>
						<th scope="col">Phone</th>
						<th scope="col">Department</th>
					</tr>
				</thead>

				<tbody>
					<tr *ngFor="let student of students">
						<td>{{student.id}}</td>
						<td>{{student.fullname}}</td>
						<td>{{student.matric}}</td>
						<td>{{student.phone}}</td>
						<td>{{student.department}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
</div>